<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
</head>

<body>
    <h1> Welcome to my todo list app</h1>
    <div id="todo-lists">

    </div>
    <script>
        let renderTodos = (todosArray) => {
            let todosHTML = todosArray.map((todo) => {
                return `<li><a href="/todos/${todo.id}"> ${todo.content} </a></li>`
            })
            return todosHTML.join('');
        }
        fetch('/todos').then((res) => res.json()).then((data) => {
            let todoContainer = document.getElementById('todo-lists');
            todoContainer.innerHTML = renderTodos(data.todos);
            console.log(renderTodos(data.todos))
        })
    </script>
</body>

</html>